//mon code

/* variables */
$duration: 0.5s;
$color: orange;

/* animations */
@keyframes titleBlur {
    0%{
        opacity: 0.8;
        text-shadow: 0px 5px 5px rgba(139, 134, 134, 0);
    }
    0%{
        opacity: 1;
        text-shadow: 0px 5px 5px rgba(139, 134, 134, 0.5);
    }
}

/* global */
*{
    box-sizing: border-box;
}
body{
    font-family: Open Sans;
    font-size: 16px;
    line-height: 1.4;
    background-color: #d8e0e5;
}

/* éléments */
.card{
    margin-left: 25px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    transition: box-shadow $duration;

    &:hover{
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    }
    a{
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
}

.card__date{
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: $color;

    color: white;

    text-align: center;
    line-height: 13px;
    font-weight: bold;

    &__day{
        font-size: 14px;
    }
    
    &__month{
        font-size: 10px;
        text-transform: uppercase;
    }
}

.card__thumb{
    height: 235px;
    overflow: hidden;
    

    background-color: black;

    transition: height $duration;

    img{
    display: block;
    opacity: 1;

    transform: scale(1);
    transition: opacity $duration, transform $duration;
    }

    .card:hover & img{
        opacity: 0.6;

        transform: scale(1.2);
    }
    .card:hover &{
        height: 235px - 145px;
    }
}

.card__body{
    position: relative;

    padding: 3%;

    height: 185px;

    transition: height $duration;

    .card:hover &{
        height: 185px + 145px;
    }
}

.card__category{
    position: absolute;
    left: 0;
    top: -25px;

    height: 25px;

    padding: 0 15px;

    background-color: $color;
    color: white;

    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
}

.card__title{
    margin: 0;
    padding: 0 0 10px 0;

    font-size: 22px;
    font-weight: bold;
    color: black;

    .card:hover &{
        animation: titleBlur $duration;
    }
}

.card__subtitle{
    margin: 0;
    padding: 0 0 10px 0;

    font-size: 19px;
    font-weight: bold;
    color: $color;
}

.card__description{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 60px;

    margin: 0;
    padding: 0;

    color: #666c74;
    font-size: 14px;
    line-height: 27px;

    opacity: 0;
    transition: opacity $duration -0.1s, transform $duration;
    transition-delay: 0s;
    transform: translateY(25px);

    .card:hover &{
        opacity: 1;
        transition-delay: 0s;
        transform: translateY(0px);
    }
}

.card__footer{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

    font-size: 11px;
    color: #a3a9ab;

    .icon--comment{
        margin-left: 12px;
    }
}

/* .icon{
    display: inline-block;
    vertical-align: middle;
}
 */
.icon--comment{
    width: 15px;
    height: 15px;

    margin-top: -2px;
}
.icon--time{
    width: 15px;
    height: 15px;

    margin-top: -2px;
}